# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out
coverage.html

# Pack
/components

# Project specific
/openid-connect-proxy